<?xml version="1.0" encoding="UTF-8"?>

	<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd"> 
  
<configuration>
    <typeAliases>
        <typeAlias type="com.iu.main.bankBook.BankBookDTO" alias="BankBookDTO"/>
                                               <!-- 보통 클래스명을 alias(별칭)으로 둔다-->
        <typeAlias type="com.iu.main.bankBook.BankBookFileDTO" alias="BankBookFileDTO"/> 
        <typeAlias type="java.lang.Long" alias="Long"/>
      
        <typeAlias type="com.iu.main.board.notice.NoticeDTO" alias="NoticeDTO"/>
        <typeAlias type="com.iu.main.board.notice.NoticeFileDTO" alias="NoticeFileDTO"/>
      
        <typeAlias type="com.iu.main.member.MemberDTO" alias="MemberDTO"/>  
        <typeAlias type="com.iu.main.member.MemberFileDTO" alias="MemberFileDTO"/>
        <typeAlias type="com.iu.main.member.RoleDTO" alias="RoleDTO"/>
        
        <typeAlias type="java.util.List" alias="List"/>   
       
        <typeAlias type="com.iu.main.board.qna.QnaDTO" alias="QnaDTO"/>
        <typeAlias type="com.iu.main.board.qna.QnaFileDTO" alias="QnaFileDTO"/>
        <typeAlias type="com.iu.main.board.BoardFileDTO" alias="BoardFileDTO"/>
        <typeAlias type="com.iu.main.util.Pager" alias="Pager"/>
        <typeAlias type="com.iu.main.bookAccount.BookAccountDTO" alias="BookAccountDTO"/>
        <typeAlias type="com.iu.main.bankBook.bankBookQna.BookQnaDTO" alias="BookQnaDTO"/>
        
        <typeAlias type="java.util.Map" alias="Map"/>

</typeAliases>
</configuration>