<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.main.bankBook.BankBookDAO">
    <insert id="setAdd" parameterType="BankBookDTO">
      INSERT INTO BANKBOOK VALUES (BANK_SEQ.NEXTVAL,#{bookName},#{bookRate},#{bookSale},#{bookContents})
    </insert>
    
    <update id="setUpdate" parameterType="BankBookDTO">
      UPDATE BANKBOOK SET 
      BOOKNAME=#{bookName},BOOKRATE=#{bookRate},BOOKSALE=#{bookSale},BOOKCONTENTS=#{bookContents} 
      WHERE BOOKNUM=#{bookNum}
    </update>
    
    <delete id="setDelete" parameterType="Long">
      DELETE BANKBOOK WHERE BOOKNUM=#{num}
      <!-- 파라미터 게터 -->
    </delete>
    
    <select id="getList" resultType="BankBookDTO">
    SELECT BOOKNUM, BOOKNAME, BOOKRATE, BOOKSALE
      FROM (SELECT ROWNUM R, B.* 
      FROM (SELECT * FROM BANKBOOK
     WHERE BOOKNUM>0
     ORDER BY BOOKNUM DESC) B) 
     WHERE R BETWEEN  AND ;
    </select>
    
    <!-- resultType은 같은 세터의 이름을 찾아서 가져온다 -->
    <!-- 그래서 DTO를 넣음 -->
    <!-- 대신 DAO에서 처리 -->
      
  
    <!-- select태그 빼고는 resultType이 int로 정해져있음 (성공여부)-->
    
    <!-- long으로해도되고 dto도됨 -->
    <select id="getDetail" resultType="BankBookDTO" parameterType="BankBookDTO">
      SELECT * FROM BANKBOOK WHERE BOOKNUM=#{bookNum}
      <!-- DTO.bookNum 세터이름 -->
      <!-- id는 마음대로 지어도 되지만 매퍼 내부에서는 구별이 되어야 함. -->
      <!-- xml은 $대신에 #씀 -->
    </select>
    
   
    
  <!-- sql문  -->
  <!-- 값이 비어있으면 에러 -->
  </mapper>
  