<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iu.main.board.BoardDAO">
<sql id="searchSql">
 WHERE BOARDNUM>0
		AND 
		<choose>
		<when test="kind=='name'">
		BOARDNAME LIKE '%' || #{search} || '%'
		</when>
		<when test="kind=='writer'">
		BOARDWRITER LIKE '%' || #{search} || '%'
		</when>
		<otherwise>
		BOARDCONTENTS LIKE '%' || #{search} || '%'
		</otherwise>
		</choose>
</sql>

	<select id="getList" resultType="BoardDTO" parameterType="com.iu.main.util.Pager">
		SELECT BOARDNUM, BOARDNAME, BOARDWRITER,
		BOARDDATE, BOARDHIT, BOARDCONTENTS
		FROM (SELECT ROWNUM R, B.*
		FROM (SELECT * FROM BOARD 
		<include refid="searchSql"></include>
		
		ORDER BY BOARDNUM DESC)B )
		WHERE R BETWEEN #{startRow} AND #{lastRow}
	</select>

	<select id="getDetail" resultType="BoardDTO"
		parameterType="BoardDTO">
		SELECT BOARDNUM, BOARDNAME, BOARDWRITER,
		BOARDDATE, BOARDHIT, BOARDCONTENTS
		FROM BOARD WHERE BOARDNUM=#{boardNum}
	</select>

	<insert id="setAdd" parameterType="BoardDTO">
		INSERT INTO BOARD VALUES
		(BOARD_SEQ.NEXTVAL,#{boardWriter},#{boardName},
		SYSDATE,0,#{boardContents})
	</insert>

	<update id="setUpdate" parameterType="BoardDTO">
		UPDATE BOARD SET BOARDWRITER=#{boardWriter}, BOARDNAME=#{boardName},
		BOARDCONTENTS=#{boardContents}, BOARDHIT=#{boardHit}
		WHERE BOARDNUM=#{boardNum}
	</update>

	<delete id="setDelete" parameterType="BoardDTO">
		DELETE BOARD WHERE BOARDNUM=#{boardNum}
	</delete>

    
    <select id="getTotal" resultType="Long">
        SELECT COUNT(BOARDNUM) FROM BOARD
       
    </select>


</mapper>