<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.iu.main.bankBook.bankBookQna.BookQnaDAO">
  
  <select id="getList" resultType="BookQnaDTO">
     SELECT * 
       FROM BOOKQNA
  </select>
  
  <insert id="setReplyAdd" parameterType="BookQnaDTO">
  <selectKey order="BEFORE" resultType="Long" keyProperty="boardNum">
     SELECT QNA_SEQ.NEXTVAL FROM DUAL
  </selectKey>
     INSERT INTO (BOARDNUM, BOOKNUM, BOARDCONTENTS, BOARDDATE, BOARDHIT, REF, STEP, DEPTH)
     VALUES (#{boardNum}, #{bookNum}, #{boardContents}, SYSDATE, 0, #{ref}, #{step}, #{depth})
  </insert>
  
  <update id="setStepUpdate" parameterType="BookQnaDTO">
     UPDATE BOOKQNA
        SET STEP = STEP+1
      WHERE REF=#{ref} AND STEP>#{step}
  </update>
  
  <select id="getDetail" resultType="BookQnaDTO" parameterType="BookQnaDTO">
     SELECT * 
       FROM BOOKQNA 
      WHERE BOARDNUM = #{boardNum}
  </select>
  
  
  </mapper>