<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.main.member.MemberDAO">
  <!-- 로그인 -->
     <select id="getLogin" resultMap="getLoginResult" parameterType="MemberDTO">
         SELECT M.*, MF.*
         FROM MEMBER M LEFT OUTER JOIN MEMBERFILE MF
         ON M.ID = MF.ID
         WHERE M.ID=#{id} AND M.PW=#{pw}
     </select>
     <!-- id만 확인한 경우에는 서비스에서 패스워드 확인시킴 -->
  
  <resultMap type="MemberDTO" id="getLoginResult">
      <id column="ID" property="id"/> 
      <result column="PW" property="pw"/>
      <result column="NAME" property="name"/>
      <result column="EMAIL" property="email"/>
      <result column="BIRTH" property="birth"/>
      
      <association property="memberFileDTO" javaType="MemberFileDTO">
          <result column="FILENUM" property="fileNum"/>
          <result column="FILENAME" property="fileName"/>
          <result column="ORIGINALNAME" property="originalName"/>  
      </association>
<!-- 1:1 관계는 association사용 -->
  </resultMap>
  
  
  <!-- 회원가입 -->
     <insert id="setJoin" parameterType="MemberDTO">
         INSERT INTO MEMBER (ID, PW, NAME, EMAIL, BIRTH)
         VALUES (#{id}, #{pw}, #{name}, #{email} ,#{birth})
     </insert>
     
     <insert id="setFileJoin" parameterType="MemberFileDTO">
         INSERT INTO MEMBERFILE (FILENUM,FILENAME,ID,ORIGINALNAME)
         VALUES (FILE_SEQ.NEXTVAL,#{fileName},#{id},#{originalName})
     </insert>
     
     
     <update id="setMemberUpdate" parameterType="MemberDTO">
         UPDATE MEMBER SET PW=#{pw},NAME=#{name}, 
         EMAIL=#{email}, BIRTH=#{birth} WHERE ID=#{id}
     </update>
     
     
	<select id="getIdCheck" resultType="MemberDTO" parameterType="MemberDTO">
	    SELECT *
	    FROM MEMBER
	    WHERE ID=#{id}
	</select>
   
   
   
   
   
   
   
   
  </mapper>