<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iu.main.board.notice.NoticeDAO">
	<sql id="searchSql">
		WHERE BOARDNUM>0
		AND
		<choose>
			<when test="kind=='name'">
				BOARDNAME LIKE '%' || #{search} || '%'
			</when>
			<when test="kind=='writer'">
				WRITER LIKE '%' || #{search} || '%'
			</when>
			<otherwise>
				BOARDCONTENTS LIKE '%' || #{search} || '%'
			</otherwise>
		</choose>
	</sql>

	<select id="getList" resultType="NoticeDTO"
		parameterType="com.iu.main.util.Pager">
		SELECT BOARDNUM, BOARDNAME, WRITER,
		BOARDDATE, BOARDHIT,
		BOARDCONTENTS
		FROM (SELECT ROWNUM R, B.*
		FROM (SELECT * FROM BOARD
		<include refid="searchSql"></include>

		ORDER BY BOARDNUM DESC)B )
		WHERE R BETWEEN #{startRow} AND #{lastRow}
	</select>

	<select id="getDetail" resultMap="getDetailResult"
		parameterType="NoticeDTO">
		SELECT *  
          FROM BOARD B LEFT OUTER JOIN BOARDFILE BF 
            ON B.BOARDNUM = BF.BOARDNUM
         WHERE B.BOARDNUM=#{boardNum}
	</select>
	
	
	<resultMap type="NoticeDTO" id="getDetailResult">
		<id column="BOARDNUM" property="boardNum" />
		<result column="WRITER" property="writer" />
		<result column="BOARDNAME" property="boardName" />
		<result column="BOARDDATE" property="boardDate" />
		<result column="BOARDHIT" property="boardHit" />
		<result column="BOARDCONTENTS" property="boardContents" />
		
	<!-- 	<association property="memberDTO" javaType="MemberDTO">
		<result column="PW" property="pw"></result>
		<result column="NAME" property="name"></result>
		<result column="EMAIL" property="email"></result>
		<result column="BIRTH" property="birth"></result>
		</association> -->
		
		<collection javaType="List" property="boardFileDTOs" ofType="NoticeFileDTO">
        <id column="FILENUM" property="fileNum"/>
        <result column="FILENAME" property="fileName"/>
        <result column="ORIGINALNAME" property="originalName"/>
		</collection>
	</resultMap>
 
	

	<insert id="setAdd" parameterType="NoticeDTO">
		<selectKey keyProperty="boardNum" order="BEFORE"
			resultType="Long">
			SELECT BOARD_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO BOARD
		(BOARDNUM, WRITER, BOARDNAME, BOARDDATE,
		BOARDHIT, BOARDCONTENTS)
		 VALUES
		(#{boardNum}, #{writer},#{boardName},
		SYSDATE,0,#{boardContents})
	</insert>

	<insert id="setFile" parameterType="NoticeFileDTO">
		INSERT INTO BOARDFILE
		(FILENUM, BOARDNUM, FILENAME, ORIGINALNAME)
		VALUES
		(FILE_SEQ.NEXTVAL,#{boardNum},#{fileName},#{originalName})
	</insert>

	


	<update id="setUpdate" parameterType="NoticeDTO">
		UPDATE BOARD SET
		WRITER=#{writer}, BOARDNAME=#{boardName},
		BOARDCONTENTS=#{boardContents}, BOARDHIT=SYSDATE
		WHERE
		BOARDNUM=#{boardNum}
	</update>

	<delete id="setDelete" parameterType="NoticeDTO">
		DELETE BOARD WHERE
		BOARDNUM=#{boardNum}
	</delete>


	<select id="getTotal" resultType="Long" parameterType="Pager">
		SELECT COUNT(BOARDNUM) FROM BOARD
	</select>

    <update id="setHitUpdate" parameterType="NoticeDTO">
       UPDATE BOARD SET BOARDHIT=#{boardHit}+1 WHERE
       BOARDNUM=#{boardNum}
    </update>

</mapper>